:root {
    --rojo-oscuro: #8b0000;
    --gris-claro: #f4f4f4;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #df7777;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;

    max-width: 300px;
    margin: auto;
    margin-top: 250px;

    background-color: white;
    border: 2px solid black;
    border-radius: 8px;

    width: 250px;
    box-shadow: 5px 5px 5px black;
}

h1, #resultado {
    text-align: center;
    color: var(--rojo-oscuro);
}

button {
    background-color: var(--rojo-oscuro);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}